body {
	background-color: AntiqueWhite;
}

.pageHeader {
	background-color: #000;
	color: #fff;
	text-align: Center;
	padding: 10px;
}

.bio {
}

.info{
	margin-left: 50px;
	margin-right: 50px;
	width:60%;
	display: inline-block;
}

.info img{
	width:200px;
	float: left;
	margin-right: 30px
}

.contact {
	width:30%;
	margin-right: 50px;
	display: inline-block;
	vertical-align: top;
	float:right;
}


a {
	color:#0066ff;
}
a:hover {
	color:#336600;
}